.bg-custom {
	background: #3e2723 ;
}

.navbar .nav-item .nav-link{
	font-size:20px;
	color:white;
}

.navbar-custom .nav-item:hover .nav-link{
	background: white;
	color:black;
	border-radius: 10px;
}
.div-color{
	background-image: linear-gradient(to right top, #b37683, #b76e69, #b06b4b, #9e6d2c, #81720f);
}

